<!DOCTYPE html>
<html>
  <head>

    {% include 'head.html' %}

  </head>

  <body style="background-color: #e0e5db;">

    {% include 'nav.html' %}

    <div class="container section">
      <div class="row">
        <div class="col s6 offset-s3">
          <div class= "row section ">
            <div class="col s12">
              <h5>Add new Book</h5>
            </div>
          </div>

          <div class="card">
            <div class="card-content">
              <form action="#" method="post">

                <div class="row">
                  <div class="input-field col ">
                    <i class="material-icons prefix">title</i>
                    <input name="title" id="title" type="text" class="validate" placeholder="Alice in Wonderland">
                    <label for="title">Title</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col">
                    <i class="material-icons prefix">description</i>
                    <input name="description" id="description" type="text" class="validate" placeholder="A wonderful Book about a girl lost in a crazy world.">
                    <label for="description">Description</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col">
                    <i class="material-icons prefix">account_circle</i>
                    <input name="author_editor" id="author_editor" type="text" class="validate" placeholder="Lewis Carrol">
                    <label for="author_editor">Author or Editor</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s4">

                    <div class="row">
                      <div class="col">
                        <i class="small material-icons left">apps</i>
                        <span class="category">Category</span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col s12 offset-s1">
                        <p>
                          <label>
                            <input class="with-gap" name="category" type="radio" id="1" value="1" checked/>
                            <span>Fiction</span>
                          </label>
                        </p>

                        <p>
                          <label>
                            <input class="with-gap" name="category" type="radio" id="2" value="2" />
                            <span>Poetry</span>
                          </label>
                        </p>

                        <p>
                          <label>
                            <input class="with-gap" name="category" type="radio" id="3" value="3"/>
                            <span>Non-Fiction</span>
                          </label>
                        </p>

                        <p>
                          <label>
                            <input class="with-gap" name="category" type="radio" id="4" value="4" />
                            <span>Children's Books</span>
                          </label>
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class ="col">
                    <button class="btn waves-effect green" id="submit" type="submit">
                        <i class="material-icons left">add</i>Create
                    </button>
                  </div>
                  <div class ="col">
                    <a class="waves-effect orange btn" href = "{{url_for('showLibrary')}}"><i class="material-icons left">cancel</i>Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
  </body>
</html>
