<!DOCTYPE html>
<html>
    <head>
         <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Information about {{book.title}}</title>
    </head>

    <body>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper">
                <a href="{{url_for('showLibrary')}}" class="brand-logo">Collective Library</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('authorize')}}">Login</a></li>
                </ul>
            </div>
        </nav>

       <ul class="collection">
            <div class="row">
                <div class="col s2"><img class="responsive-img" src="/static/images/default_book.jpg" alt="book shelf"></div>
                <div class="col s6">
                    <div class="section">
                        <h5>{{book.title}}</h5>
                        <p>{{book.author}}</p>
                    </div>
                </div>
            </div>

            <li class="collection-item">
                 <div class="row">
                    <div class="col s1"> Category</div>
                    <div class="col s1">{{category.name}}</div>
                    <div class="col s1"><a href="#!" class="secondary-content"><i class="material-icons">edit</i></a></div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row">
                    <div class="col s1">  Description: </div>
                    <div class="col s1">{{book.description}}</div>
                    <div class="col s1"><a href="#!" class="secondary-content"><i class="material-icons">edit</i></a></div>
                </div>
            <li class="collection-item">
                <div class="row">
                    <div class="col s1">  Location:</div>
                    <div class="col s1"> {{book.location}}</div>
                    <div class="col s1"><a href="#!" class="secondary-content"><i class="material-icons">edit</i></a></div>
                </div>
            </li>
        </ul>
    </body>
</html>