<!DOCTYPE html>
<html>
    <head>
        <title>Information about {{book.title}}</title>
    </head>

    <body>
        <div class = 'pane'>
            <div class = 'header'>
                <h1> {{book.name}}</h1>
            </div>

            <ul>
                <div class="container">
                    <h3>{{book.title}}</h3>
                </div>

                <div class="container">
                    <h3>Author</h3>
                    <h4>{{book.author}}</h4>
                </div>

                <div class="container">
                    <h3>{{category.name}}</h3>
                </div>
                <div class="container">
                    <h3>{{book.description}}</h3>
                </div>
                <div class="container">
                    <h3>{{book.number_of_reads}}</h3>
                </div>
                <div class="container">
                    <h3>{{book.image}}</h3>
                </div>

            </ul>
        </div>
    </body>
</html>