<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Books for {{category.name}} of {{user.name}}</title>
    </head>

    <body>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
        <nav class="light-green lighten-1" role="navigation">
            <div class="nav-wrapper"  >
              <div class="row">
                <div class="col s12 m6 l3">
                  <a href="{{url_for('showLibrary')}}" class="brand-logo">{{user.name}}'s Library</a>
                </div>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="{{url_for('revoke')}}">Logout</a></li>
                </ul>
              </div>
            </div>
        </nav>

        <div class="container">
          <div class="row">
            <h4>{{category.name}}</h4>
            {% for book in books_for_user %}
               <div class="col m4">
                <div class=card>
                    <div class="card-image">
                      <img src="/static/images/default_book.jpg">
                      <span class="card-title">{{book.title}}</span>
                    </div>
                     <div class="card-content">
                      <p>Details about {{book.title}}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{url_for('showBook', category_id = book.category_id, book_id = book.book_id)}}">
                        Details</a>
                        <a href="{{url_for('editBook', book_id = book.book_id)}}"> Edit</a>
                    </div>
                  </div>
                </div>
            {% endfor %}
          </div>
        </div>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red" href="{{url_for('addBook')}}">
            <i class="large material-icons">add</i>
            </a>
         </div>
    </body>
</html>