<!DOCTYPE html>
<html>
    <head>
        <title>Library</title>
    </head>

    <body>
        <div class = 'pane'>
            <div class = 'header'>
                <h1>{{user.name}}'s Library</h1>
            </div>

            <div class = 'logout'>
                <a href="{{url_for('revoke')}}">Click Here to Log out </a>
            </div>

            <h2>Categories</h2>

            <ul>
            {% for category in categories %}
                <div class="container">
                    <a href="{{url_for('showBooksForCategory', category_id = category.id)}}">
                        <h3>{{category.name}}</h3>
                    </a>
                </div>
            {% endfor %}
            </ul>

             <div>
                <a href="{{url_for('addBook')}}">Add new Book</a>
            </div>

            <h2>Recently Added</h2>

            <ul>
            {% for recent_book in recent_books %}
                {% if recent_book.user_id == user.id %}
                     <div class="container">
                        <a href="{{url_for('showBook', category_id = recent_book.category_id, book_id = recent_book.book_id)}}">
                            <h3>{{recent_book.title}}</h3>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </body>
</html>