<!DOCTYPE html>
<html>
    <head>
        <title>Library</title>
    </head>

    <body>
         <div class = 'pane'>
            <div class = 'header'>
                <h1>Collective Library</h1>
            </div>

            <div class = 'login'>
                <a href="{{url_for('authorize')}}">Click Here to Log in</a>
            </div>

            <h2>Categories</h2>

            <ul>
                {% for category in categories %}
                    <div class="container">
                        <a href="{{url_for('showBooksForCategory', category_id = category.id)}}">
                            <h3>{{category.name}}</h3>
                        </a>
                    </div>
                {% endfor %}
            </ul>

            <h2>Recently Added</h2>

            <ul>
            {% for recent_book in recent_books %}
                     <div class="container">
                        <a href="{{url_for('showBook', category_id = recent_book.category_id, book_id = recent_book.book_id)}}">
                            <h3>{{recent_book.title}}</h3>
                        </a>
                    </div>
            {% endfor %}
            </ul>
        </div>
    </body>
</html>