<!DOCTYPE html>
<html>
    <head>
     <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Library</title>
    </head>

    <body>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>

        <nav class="light-green lighten-1" role="navigation">
            <div class="nav-wrapper"  >
              <div class="row">
                <div class="col s12 m6 l3">
                  <a href="{{url_for('showLibrary')}}" class="brand-logo">Collective Library</a>
                </div>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('authorize')}}">Login</a></li>
                </ul>
              </div>
            </div>
        </nav>

        <div class="container">
          <div class="row">
            <h4>Categories</h4>
              {% for category in categories %}
              <div class="col m4">
                <div class=card>
                    <div class="card-image">
                      <img src="/static/images/default_book.jpg">
                      <span class="card-title">{{category.name}}</span>
                    </div>
                    <div class="card-content">
                      <p>All {{category.name}} Books</p>
                    </div>
                    <div class="card-action">
                      <a href="{{url_for('showBooksForCategory', category_id = category.id)}}">{{category.name}} Books</a>
                    </div>
                  </div>
                </div>
              {% endfor %}
          </div>
        </div>

        <div class="container">
          <div class="row">
            <h4>Recently Added Books</h4>
            {% for recent_book in recent_books %}
              <div class="col m4">
                <div class=card>
                    <div class="card-image">
                      <img src="/static/images/default_book.jpg">
                      <span class="card-title">{{recent_book.title}}</span>
                    </div>
                     <div class="card-content">
                      <p>Details about {{recent_book.title}}</p>
                    </div>
                    <div class="card-action">
                      <a href="{{url_for('showBook', category_id = recent_book.category_id, book_id = recent_book.book_id)}}">
                        {{recent_book.title}}</a>
                    </div>
                  </div>
                </div>
            {% endfor %}
          </div>
        </div>
    </body>
</html>